/* Odin Project Assignment 1 */

#container {
	font-family: arial, sans-serif;
	color : #222222;
}

#header {
	display: block;
	height: 40px;
}

#header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#header li {
	display: inline;
	float: right;
	font-size: small;
}

#header a {
	text-decoration: none;
	color: #222222;
}


#profile {
		border-radius:50%;
		
}

#search {
	text-align: center;
	margin-top: 175px;
}

#Moogle {
	width: 375px;
	
input {
	background-repeat: no-repeat;
}

#voice {
	background: url(../img/voice.gif) no-repeat right center;
	height: 20px;
}

}

#footer {
	display: block;
	height: 40px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	background-color: #f0f0f0;
}

#footer ul {
	list-style-type: none;

	
}

#footer ul li {
	display: inline;
}